.ingredients-list {
  margin-bottom: var(--gap-medium);
}

.ingredient-item {
  border-left: 2px solid var(--color-brown-light-1);
  display: grid;
  grid-template-columns: 1fr 80px 70px 20px;
  padding-left: var(--gap-small);
}

.ingredient-item + .ingredient-item {
  margin-top: var(--gap-small);
}

.ingredient-item input {
  height: 30px;
  text-align: center;
}

.ingredient-item__name,
.ingredient-item__unit {
  display: flex;
  align-items: center;
}

.ingredient-item__unit {
  color: var(--color-brown-light-2);
  font-size: 14px;
  padding-left: 5px;
}
