:root {
  --color-beige: rgb(249, 247, 243);
  --color-moonstone: rgb(15, 163, 177);
  --color-uranian-blue: rgb(181, 226, 250);
  --color-vanilla: rgb(237, 222, 164);
  --color-tangerine: rgb(247, 160, 114);
}

body {
  background: var(--color-beige);
}

.content-wrapper {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
}

.app-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Buttons */

.button, button {
  --height: 44px;
  align-items: center;
  background: var(--color-tangerine);
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: var(--height);
  justify-content: center;
  line-height: var(--height);
  min-width: 10ch;
  padding: 0 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover,
button:hover {
  background: var(--color-moonstone);
}