:root {
  --color-beige: rgb(249, 247, 243);
  --color-moonstone: rgb(15, 163, 177);
  --color-uranian-blue: rgb(181, 226, 250);
}

body {
  background: var(--color-beige);
}

.main-header {
  background: var(--color-moonstone);
  color: var(--color-beige);
  padding: 30px 50px;
}