:root {
  /* Colors */
  --color-beige: rgb(249, 247, 243);
  --color-moonstone: rgb(15, 163, 177);
  --color-uranian-blue: rgb(181, 226, 250);
  --color-vanilla: rgb(237, 222, 164);
  --color-tangerine: rgb(247, 160, 114);
  --color-brown-light-0: #EAE4D9;
  --color-brown-light-1: #D1CABC;
  --color-brown-light-2: #CBC1AE;
  --color-brown: #817355;

  /* Gaps */
  --gap-small: 12px;
  --gap-medium: 25px;
  --gap-big: 40px;

  /* Container sizes */
  --width-main-container: 800px;

  /* Border radius */
  --radius-small: 5px;
  --radius-medium: 10px;
  --radius-big: 20px;

  /* Z-index priority */
  --z-lowest: 1;
  --z-low: 10;
  --z-middle: 100;
  --z-high: 1000;
  --z-highest: 10000;
}

body {
  background: var(--color-beige);
}

.content-wrapper {
  margin: auto;
  max-width: var(--width-main-container);
  padding: 0 var(--gap-medium);
}

.app-main {
  color: var(--color-moonstone);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: var(--gap-big) 0;
}

/* Links */

a:link,
a:visited {
  color: var(--color-moonstone);
}

a:hover {
  color: var(--color-tangerine);
}

/* Forms */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
select {
  border: 1px solid var(--color-brown-light-1);
  border-radius: var(--radius-small);
  box-sizing: border-box;
  color: var(--color-brown);
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0 var(--gap-small);
  width: 100%;
}

input:active,
input:focus {
  border: 1px solid var(--color-brown);
}

input::placeholder {
  color: var(--color-brown-light-2);
}

/* Home */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-big);
}

.home p {
  line-height: 1.35em;
  margin-top: 0;
  margin-bottom: var(--gap-big);
}

.home .button + .button {
  margin-top: var(--gap-small);
}
