.notification {
  align-items: center;
  color: #fff;
  display: flex;
  gap: var(--gap-small);
  justify-content: center;
  height: 0;
  overflow: hidden;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  transition: all 0.3s ease-in-out;
  z-index: var(--z-high);
}

.notification--show {
  height: 81px;
}

.notification--success {
  background: var(--color-moonstone);
}

.notification--error {
  background: var(--color-tangerine);
}

.notification--success .notification__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.355' height='17.269' viewBox='0 0 22.355 17.269'%3E%3Cg id='Grupo_19' data-name='Grupo 19' transform='translate(-4484.833 -1078.962)'%3E%3Cpath id='Trazado_3' data-name='Trazado 3' d='M12.559,23.045l-.224.224L5,15.935l2.7-2.7L12.559,18.1,24.659,6l2.7,2.7L12.784,23.27Z' transform='translate(4479.833 1072.961)' fill='%230fa3b1'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* TODO: error icon */

.notification__icon {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin: 0;
  width: 42px;
  height: 42px;
}

.notification__message {
  font-size: 20px;
  font-weight: bold;
}